extends layout.pug

include mixins/_storeForm2

block content
  .container.card
    .row
      .col
        h1 #{title}
        //- h2 #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
        +storeForm2()
