extends layout.pug

block nav

block content
  .bkd
    .cover
      .col-10.message
        h1 Text 'CEQA' to 
        h1 619-649-8251
        p Provide your feedback through a real-time text message poll!
