extends layout.pug

block content
  //- pre= h.dump(survey.survey[0].status)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
  .container-fluid
    .row.justify-content-md-center.align-items-center
      .col-md-10.message
        h1 #{title}
        p Question 1
        script
          | var chartData = !{JSON.stringify(results)};
        canvas#myChart(width="900" height="380")
        p Question 2
        canvas#myChart1(width="900" height="380")
