mixin storeForm2(store = {})
  form(action=`/store2` method="POST")
    .form-group
      label(for="to") To
      input.form-control.form-control-sm#to(type="tel" name="to" required)
    .form-group
      label(for="message") Message
      textarea.form-control.form-control-sm#message(name="message" rows="3")
    input.btn.btn-primary(type="submit" value="Save →" class="button")
