nav.navbar.navbar-expand-lg.navbar-light.fixed-top  
  nav.navbar.navbar-light
    a.navbar-brand(href="/")
      img.d-inline-block.align-top(src=src="/images/icons/brand.svg" width="30" height="30" alt="")
      //- |     Bootstrap
    //- a.navbar-brand(href="/")
    //-   img(src="/images/icons/brand.svg" height="50" alt="")
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      each link in h.menu
        li.nav-item(class=(currentPath.match(link.slug) ? 'active' : ''))
          a.nav-link(href=link.slug) #{link.title}
