nav.navbar.navbar-expand-lg.navbar-light.bg-light
  nav.navbar.navbar-light.bg-light
    a.navbar-brand(href="/")
      img(src="/images/icons/brand.svg" height="50" alt="")
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          | #{Object.keys(h.menu[0])}
        .dropdown-menu(aria-labelledby="navbarDropdown")
          each link in h.menu[0].Maps
            a.dropdown-item(href=link.slug)= link.title
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          | #{Object.keys(h.menu[1])}
        .dropdown-menu(aria-labelledby="navbarDropdown")
          each link in h.menu[1].Stores
            a.dropdown-item(href=link.slug)= link.title
